@font-face {
    font-family: 'intro';
    src: url('fonts/Intro-Trial-Rg.ttf');
}

body {
    background-color: #e7ecea;
}

.tabs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
    font-family: intro;
    background-color: white;
    height: 7%;
    overflow: hidden;
    border-radius: 1rem;
}

.tabs__label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-left: 1px solid #e7ecea;
    border-bottom: 0.5rem solid transparent;
    font-weight: bold;
    color: #2CC185;
    padding-right: 6%;
    padding-left: 6%;
    font-size: 150%;
    transition: border-bottom 0.3s linear; 
}

#tab_last {
    border-right: 1px solid #e7ecea; 
}

.tabs__label:hover {
    color: #74777b;  
}

.tabs__radio {
    display: none;
}

.tabs__content {
    order: 1;
    line-height: 2;
    font-size: 0.9em;
    display: none;
    background-color: #e7ecea;
}

.tabs__radio:checked + .tabs__label {
    border-bottom: 0.5rem solid #2CC185;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
}

.name {
    font-family: intro;
    font-size: 150%;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.desc{
    font-family: intro;
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
    color: #74777b;
}

.github{
    display: flex;
    justify-content: right;
    padding-right: 1%;
    padding-top: .5%;
}

.link_github{
    font-family: intro;
    font-size: 110%;
    padding-left: .5%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #4299e1;
}

.link_github:hover{
    color: #74777b;
}

.tabs__label .icon{
    width: 80%;
    height: 80%;
    margin-right: 3%;
    color: #2CC185;
}

.tabs__label:hover .icon{
    stroke: #74777b;
}

.tabs__label:hover .icon2{
    stroke: #74777b;
}

.autocomplete{
    position: absolute;
    top: 100%; 
    left: 0; 
    width: 100%; 
    z-index: 999;
}