<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/site.webmanifest" />
    <script src="../js/index.js" defer></script>
    <script src="../js/logout-menu.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  </head>
  <body>
    <nav class="navigation">
      <div class="github">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon_github"
          width="60"
          height="60"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#2c3e50"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z"
            stroke-width="0"
            fill="currentColor"
          />
        </svg>
        <a class="link_github" href="https://github.com/Adam-Simon1/Price-Saver"
          >Open my Repository</a
        >
      </div>

      <div class="shopping-lists-container">
        <button
          class="shopping-lists-btn"
          name="listbtn"
          id="listbtn"
          onclick="openLink5()"
        >
          Shopping Lists
        </button>
      </div>

      <div class="profile-container">
        <div class="dropdown">
          <button class="profile-btn" id="profile-btn">Profile</button>

          <div class="dropdown-content" id="dropdown-content">
            <a href="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon-logout"
                width="27"
                height="27"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
                />
                <path d="M9 12h12l-3 -3" />
                <path d="M18 15l3 -3" />
              </svg>
              Sign out
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="border"></div>

    <div class="menu-btn">
      <div class="menu-btn__burger"></div>
    </div>

    <nav class="menu" id="menu">
      <ul id="menu-list">
        <li><button onclick="openLink6()">Github Repository</button></li>
        <li>
          <button id="listbtn" onclick="openLink5()">Shopping Lists</button>
        </li>
        <li>
          <button class="last" id="sign-out">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon-logout"
              width="30"
              height="30"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#000000"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
              />
              <path d="M9 12h12l-3 -3" />
              <path d="M18 15l3 -3" />
            </svg>
          </button>
        </li>
      </ul>
    </nav>

    <div class="main">
      <div class="title">
        <h1 class="welcome">
          Welcome to
          <h1 class="price-savvy">Price Savvy</h1>
        </h1>
      </div>

      <div class="start">
        <button class="startbtn" onclick="openLink3()">Get Started</button>
      </div>
    </div>

    <article class="create-list">
      <div class="text-list">
        <h1>Search through sales</h1>
        <h2>
          Search thorugh the best sales available. Search, filter and sort the
          results
        </h2>
      </div>
      <img
        src="../assets/search.png"
        alt="Create a shopping list"
        class="shop-list"
        width="500px"
      />
    </article>

    <article class="create-table">
      <img
        src="../assets/tables.png"
        alt="Create a table"
        class="table"
        width="500px"
      />
      <div class="text-table">
        <h1>Create shopping lists</h1>
        <h2>
          Shooping lists are separated by shops, so you have them organized.
        </h2>
      </div>
    </article>

    <script>
      const listBtn = document.getElementById("listbtn");
      const signOut = document.getElementById("sign-out");
      const menu = document.getElementById("menu");
      const menuBtn = document.querySelector(".menu-btn");
      const menuList = document.getElementById("menu-list");

      listBtn.addEventListener("click", () => {
        console.log("pressed");
        axios.post("/lists", {}).catch(err);
      });

      signOut.addEventListener("click", () => {
        window.location.href = "/";
        Cookies.remove("token");
      });

      let menuOpen = false;
      menuBtn.addEventListener("click", () => {
        if (!menuOpen) {
          menuBtn.classList.add("open");
          menuOpen = true;
        } else {
          menuBtn.classList.remove("open");
          menuOpen = false;
        }

        if (menu.classList === "show") {
          menu.classList.toggle("");
        } else {
          menu.classList.toggle("show");
        }

        if (menu.classList !== "show") {
          menuList.style.display = "none";
        }
      });

      menu.addEventListener("transitionend", (event) => {
        if (event.propertyName === "height") {
          if (menu.classList.contains("show")) {
            menuList.style.display = "flex";
          }
        }
      });
    </script>
  </body>
</html>
