<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="../css/search.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png" />
    <link rel="manifest" href="assets/site.webmanifest" />
    <script src="../js/price-dropdown.js" defer></script>
    <script src="../js/home.js" defer></script>
    <script src="../js/table-array.js" defer></script>
    <script src="../js/index.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
</head>
<body>
  <div id="preloader">
    <div class="loader">
      <svg width="70" height="70" stroke="#000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_V8m1{transform-origin:center;animation:spinner_zKoa 2s linear infinite}.spinner_V8m1 circle{stroke-linecap:round;animation:spinner_YpZS 1.5s ease-in-out infinite}@keyframes spinner_zKoa{100%{transform:rotate(360deg)}}@keyframes spinner_YpZS{0%{stroke-dasharray:0 150;stroke-dashoffset:0}47.5%{stroke-dasharray:42 150;stroke-dashoffset:-16}95%,100%{stroke-dasharray:42 150;stroke-dashoffset:-59}}</style><g class="spinner_V8m1"><circle cx="12" cy="12" r="9.5" fill="none" stroke-width="3"></circle></g></svg>      
    </div>
    <h1>Loading...</h1>
  </div>

    <div class="autocomplete">
        <input class="search" id="inputField" type="text" placeholder="Type something...">
        <div class="autocomplete-suggestions"></div>
    </div>

    <div class="checkboxes" id="checkboxes-id">
      <div class="checkbox-item">
        <input type="checkbox" name="checkbox" id="kaufland" class="kaufland" value="kaufland">
        <label for="kaufland" class="label">Kaufland</label>
      </div>
      <div class="checkbox-item">
        <input type="checkbox" name="checkbox" id="tesco" class="tesco" value="tesco">
        <label for="tesco" class="label">Tesco</label> 
      </div>
      <div class="checkbox-item">
        <input type="checkbox" name="checkboxall" id="all" class="all" value="all">
        <label for="all" class="label">All</label>
      </div>

      <div class="buttons">
        <div>
          <button class="apply_changes" id="apply-changes" >Apply Changes</button>
        </div>

        <div class="reset_div">
          <button class="reset" id="resetbtn">Reset</button>
        </div>
      </div>
      
    </div>
    
    <div class="textarea_div">
      <textarea class="textarea" name="ListField" id="list-field" cols="30" rows="10" readonly></textarea>   
      <div class="price_div">
        <h1 id="price-h1" class="price">Price: <span></span></h1>
      </div>
    </div>

    <div class="return_button_div">
      <button class="return_button" id="button-input">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#74777b" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M9.586 4l-6.586 6.586a2 2 0 0 0 0 2.828l6.586 6.586a2 2 0 0 0 2.18 .434l.145 -.068a2 2 0 0 0 1.089 -1.78v-2.586h7a2 2 0 0 0 2 -2v-4l-.005 -.15a2 2 0 0 0 -1.995 -1.85l-7 -.001v-2.585a2 2 0 0 0 -3.414 -1.414z" stroke-width="0" fill="currentColor" />
        </svg>
      </button>
    </div>

    <div class="dropdown">
      <button class="dropbtn" id="dropbtn">Select the price</button>
      <div class="dropdown-content" id="dropdown-content">
        <a data-value="lowest-highest">Lowest to Highest</a>
        <a data-value="highest-lowest">Highest to Lowest</a>
        <a data-value="a-z">A-Z Sorted</a>
        <a data-value="z-a">Z-A Sorted</a>
      </div>
    </div>
  </div>

  <div class="next-container">
    <h1>Are you finished creating your list of products?</h1>
    <h2>Proceed to the next page to create a table of your products:</h2>
    <div class="btn-container">
      <button id="next-page" onclick="openLink4()">Go to the next page</button>
    </div>
  </div>

  <script>
    const loader = document.getElementById("preloader");
    window.addEventListener("load", () => {
      loader.style.display = "none";
    });
  </script>
</body>
</html>