<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Lists</title>
    <link rel="stylesheet" href="../css/shopping-lists.css" />
    <script src="../js/tablesSave.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  </head>
  <body>
    <div class="title">
      <h1>Your shopping lists</h1>
    </div>

    <div class="tables" id="tables"></div>
  </body>
</html>
