<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tables</title>
    <link rel="stylesheet" href="../css/tables.css" />
    <link rel="shortcut icon" type="img/png" href="assets/favicon.png">
    <script src="../js/shopping_list.js" type="module" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="tablebtn-container">
      <button id="tablebtn">Create a table</button>
    </div>

    <div id="h1-tesco"></div>
    <div id="h1-kaufland"></div>

    <div id="table-container"></div>
    <div id="table-container2"></div>

    <div id="total-price"></div>

    <div class="save">
      <button class="savebtn" id="savebtn">Save</button>
      <p class="message"><%= Saved %></p>
    </div>
    
  </body>
</html>
